{% extends 'base.html.twig' %}

{% block body %}
{% for article in articles %}
<tr>
    <td>{{ article.name }}<td>
    <td>{{ article.description }}</td>
    <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
    <td><a href="{{ path('article_edit', {'id': article.id}) }}">update</a></td>
    <td><a href="{{ path('article_show', {'id': article.id}) }}">show</a></td>
    <td><a href="{{ path('article_delete', {'id': article.id}) }}">delete</a></td>
<tr>
    <br>
{% endfor %}
    <a href="{{ path('article_create') }}">create</a>
{% endblock %}
