{% extends 'base.html.twig' %}
{% block body %}
    <tr>
        <td>id: {{ article.id }}</td>
        <br>
        <td>name: {{ article.name }}</td>
        <br>
        <td>date: {{ article.createdAt|date('Y-m-d H:i:s') }}</td>
    </tr>
{% endblock %}